.home-container {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.home-container .svg {
  display: none;
}

.home-container .content {
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.content h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.content p {
  display: block;
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 0 1rem;
  color: rgb(97, 89, 89);
}

.content .home-btn {
  font-size: large;
  display: inline-block;
  margin-bottom: 1rem;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 2rem;
  border-radius: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
  font-weight: bold;
  border: 1px solid transparent;
}

.home-btn:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
}

/* Medium */
@media screen and (min-width: 481px) {
}

/* Large */
@media screen and (min-width: 900px) {
  .home-container {
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: center;
    padding: 0 2rem;
  }

  .home-container .svg {
    display: block !important;
    width: 90%;
    height: 90%;
  }

  .svg img {
    width: 100%;
    height: 100%;
  }

  .home-container .content {
    padding: 0 1rem;
    text-align: left;
  }

  .content h1 {
    font-size: 3rem;
  }

  .content p {
    padding: 0;
    width: 30rem;
  }
}
.social-icons {
  list-style: none;
  display: flex;
  align-items: "center";
  width: "200px";
  padding-top: 10vh;
  padding-left: -10px;
}

.social-icons > li >span {
  margin-left: 6px;
  font-size: 1.3rem;
}
.social-icons > li {
  margin: 15px;
  font-size: 30px;
  display: inline-flex;
  align-items: center;
  /* box-shadow: 0px 2px 8px -4px #000; */
  padding: 5px
}

.social-icons > li:hover {
  margin: 15px;
  /* font-size: 30px; */
  display: inline-flex;
  align-items: center;
  box-shadow: 0px 1px 5px -3px #000;
  padding: 5px;
  cursor:pointer;
  transform: scale(1.2);
  transition: all 0.3s;
}

/* Extra Large */
@media only screen and (max-width: 900px) {
  .social-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 15px;
  }
  .social-icons > li {
    font-size: 23px;
  }
  .social-icons > h1 {
    font-size: 1rem;
  }
}

/* XXL */
@media screen and (min-width: 1201) {
}
